<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Edit</title>
		<meta name="description" content="A sidebar menu as seen on the Google Nexus 7 website" />
		<meta name="keywords" content="google nexus 7 menu, css transitions, sidebar, side menu, slide out menu" />
        <meta name="author" content="Codrops" />
    
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="/css/component.css" />
        <script src="/js/modernizr.custom.js"></script>
          
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
        <link href="https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css" rel="stylesheet">

        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/animate.css">
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
    
        <link rel="stylesheet" href="/fonts/ionicons/css/ionicons.min.css">
       <link rel="stylesheet" href="/fonts/fontawesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
        <link rel="stylesheet" href="/css/magnific-popup.css">
    
        <!-- Theme Style -->
        <link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<div class="container">
			<ul id="gn-menu" class="gn-menu-main" style="z-index:1;">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
                                <li><a href="/user/" class="gn-icon ion-ios-person">Home</a></li>

                                <li><a href="/user/profile" class="gn-icon ion-ios-person">Profile</a></li>
                                <li><a href="/edit_profile" class="gn-icon ion-ios-person">Edit Profile</a></li>
                                <li><a href="/user/my_articles" class="gn-icon gn-icon-article">My Articles</a></li>

                                <li><a href="/user/new_article" class="gn-icon ion-md-add-circle-outline">Create Article</a></li>
                                <!--  <li><a class="gn-icon  ion-ios-settings">Settings</a></li> -->

                                <li><a href="/user/logout" class="gn-icon ion-md-log-out">Logout</a></li>
                                <!-- <li><a class="gn-icon ion-md-log-out">Logout</a></li>
                                 <li><a class="gn-icon ion-md-log-out">Logout</a></li>

                                 <li><a class="gn-icon gn-icon-archive">Archives</a></li> -->



                                </li>
							</ul>
						</div><!-- /gn-scroller -->
					</nav>
				</li>
       
            <li class="navbar-nav absolute-right">
              <a href="#">logout</a> 
            </li>
      
			</ul>
            </div>


        <div class="abc">
            <div class="site-section bg-light">
                    <div class="container">
                      <div class="row justify-content-center mb-5 element-animate">
                        
                      </div>
                      <div class="row element-animate">
                                   <!----------------------- page actual body -->

                                  <div class="container bootstrap snippet">
                                  <form class="form" action="/edit_profile" method="post" id="registrationForm" enctype="multipart/form-data">
                                   <div class="row">
                                         <div class="col-sm-12"><h1>User Page</h1></div>
                                       
                                   </div>
                                   <div class="row">
                                         <div class="col-sm-3"><!--left col-->
                                             
                                         <div class="text-center">
                                         <img src="/uploadnew/<%= student.Index %>.png" class="img-responcive img-circle img-thumbnail" alt="Image not uploaded yet">
                                         <h6>Upload a different photo...</h6>
                                        
                                         <input id="html_btn" name="image" class="file-upload  search-submit btn btn-primary  " type='file' /><br>
                                       </div><br>
                                     
                     

                                              
                                         
                        

                                       
                                       </div><!--/col-3-->
                                       <div class="col-sm-9">
                                           <ul class="nav nav-tabs">
                                               <li class="active"><a data-toggle="tab" href="#home">Details</a></li>
                                               
                                               <li><a data-toggle="tab" href="#settings">Menu 2</a></li>
                                             </ul>
                               
                                             
                                         <div class="tab-content">
                                           <div class="tab-pane active" id="home">
                                              
                                                 
                                                     <div class="form-group">
                                                         
                                                         <div class="col-xs-6">
                                                             <label for="first_name"><h4>First name</h4></label>


                                                                 <input type="text" class="form-control " name="firstname" id="first_name" value="<%=student.firstname %>" title="enter your first name if any.">

                                                         </div>

                                                     </div>
                                                     <div class="form-group">
                                                         
                                                         <div class="col-xs-6">
                                                           <label for="last_name"><h4>Last name</h4></label>
                                                             <input type="text" class="form-control" name="lastname" id="last_name" value="<%=student.lastname %>" title="enter your last name if any." >
                                                         </div>
                                                     </div>
                                         
                                                     <div class="form-group">
                                                         
                                                         <div class="col-xs-6">
                                                             <label for="phone"><h4>Phone</h4></label>
                                                             <input type="text" class="form-control" name="mobile" id="mobile" value="<%=student.mobile %>" title="enter your phone number if any." required="true">
                                                         </div>
                                                     </div>
                                         
                                                 
                                                     <div class="form-group">
                                                         
                                                         <div class="col-xs-6">
                                                             <label for="email"><h4>Email</h4></label>
                                                             <input type="email" class="form-control" name="email" id="email" name="email" value="<%=student.email %>" title="enter your email." required="true">
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         
                                                         <div class="col-xs-6">
                                                             <label for="email"><h4>Address</h4></label>
                                                             <input type="text" class="form-control" id="Address" name='address' value="<%=student.address %>" title="enter a location">
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         
                                                            <div class="col-xs-6">
                                                                <label for="email"><h4>Course</h4></label>
                                                                <input type="text" class="form-control" id="course" name='course' value="<%=student.course %>" title="enter the course studying">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                         
                                                                <div class="col-xs-6">
                                                                    <label for="email"><h4>Branch</h4></label>
                                                                    <input type="text" class="form-control" id="branch" name="branch" value="<%=student.branch %>" title="enter a Branch">
                                                                </div>
                                                            </div>
                                                    
                                                     <div class="form-group">
                                                          <div class="col-xs-12">
                                                               <br>
                                                                 <button class="search-submit btn btn-primary pull-right" type="submit" style="font-size:15px;"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                                             
                                                           </div>
                                                     </div>


                                                     
                                                 </form>
                                                
                                                 </div> <!-- tab end-->
                                            <div class="tab-pane" id="settings">
                                                   
                                                  
                                                
                                                 <form class="form" action="##" method="post" id="registrationForm">
                                                     <div class="form-group">
                                                         
                                                         <div class="col-xs-6">
                                                             <label for="first_name"><h4>First name</h4></label>
                                                             <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         
                                                         <div class="col-xs-6">
                                                           <label for="last_name"><h4>Last name</h4></label>
                                                             <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                                                         </div>
                                                     </div>
                                         

                                                     <div class="form-group">
                                                         <div class="col-xs-6">
                                                            <label for="mobile"><h4>Mobile</h4></label>
                                                             <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         
                                                         <div class="col-xs-6">
                                                             <label for="email"><h4>Email</h4></label>
                                                             <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         
                                                         <div class="col-xs-6">
                                                             <label for="email"><h4>Location</h4></label>
                                                             <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         
                                                         <div class="col-xs-6">
                                                             <label for="password"><h4>Password</h4></label>
                                                             <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         
                                                         <div class="col-xs-6">
                                                           <label for="password2"><h4>Verify</h4></label>
                                                             <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                          <div class="col-xs-12">
                                                               <br>
                                                                 <button class="btn btn-lg btn-success " type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                                                  <!--<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>-->
                                                           </div>
                                                     </div>
                                                 </form>
                                             </div>
                                              
                                             </div><!--/tab-pane-->
                                         </div><!--/tab-content-->
                               
                                       </div><!--/col-9-->
                                   </div><!--/row-->
                                   </div>


                                   <!---     page actual body end  -->
                       
                      </div>
                    </div>
                  </div>
              
                 
                
                  
                  <!-- loader -->
                  <!--<div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>-->
              
                  <script src="/js/jquery-3.2.1.min.js"></script>
                  <script src="/js/jquery-migrate-3.0.0.js"></script>
                  <script src="/js/popper.min.js"></script>
                  <script src="/js/bootstrap.min.js"></script>
                  <script src="/js/owl.carousel.min.js"></script>
                  <script src="/js/jquery.waypoints.min.js"></script>
                  <script src="/js/jquery.stellar.min.js"></script>
                  <script src="/js/jquery.animateNumber.min.js"></script>
                  
                  <script src="/js/jquery.magnific-popup.min.js"></script>
              
                  <script src="/js/main.js"></script>
        </div><!-- /container -->
    </div>
		<script src="/js/classie.js"></script>
		<script src="/js/gnmenu.js"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
	</body>
</html>