<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>

    <title>home</title>

    <meta name="description" content="A sidebar menu as seen on the Google Nexus 7 website" />
    <meta name="keywords" content="google nexus 7 menu, css transitions, sidebar, side menu, slide out menu" />
    <meta name="author" content="Codrops" />

    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <script src="/js/modernizr.custom.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">

    <link rel="stylesheet" href="/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="/css/style.css">


    <style class="cp-pen-styles">/**
 * Oscuro: #283035
 * Azul: #03658c
 * Detalle: #c7cacb
 * Fondo: #dee1e3
 ----------------------------------*/
        * {
            margin: 0;
            padding: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        a {
            color: #03658c;
            text-decoration: none;
        }

        ul {
            list-style-type: none;
        }

        body {
            font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
            background: #dee1e3;
        }

        /** ====================
         * Lista de Comentarios
         =======================*/
        .comment-block {
            padding: 1rem;
            background-color: #fff;
            display: table-cell;
            vertical-align: top;
            border-radius: 0.1875rem;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
        }
        .comment-block textarea {
            width: 100%;
            resize: none;
        }
        .comments-container {
            margin: 60px auto 15px;
            width: 768px;
        }

        .comments-container h1 {
            font-size: 36px;
            color: #283035;
            font-weight: 400;
        }

        .comments-container h1 a {
            font-size: 18px;
            font-weight: 700;
        }

        .comments-list {
            margin-top: 30px;
            position: relative;
        }

        /**
         * Lineas / Detalles
         -----------------------*/
        .comments-list:before {
            content: '';
            width: 2px;
            height: 100%;
            background: #c7cacb;
            position: absolute;
            left: 32px;
            top: 0;
        }

        .comments-list:after {
            content: '';
            position: absolute;
            background: #c7cacb;
            bottom: 0;
            left: 27px;
            width: 7px;
            height: 7px;
            border: 3px solid #dee1e3;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }

        .reply-list:before, .reply-list:after {display: none;}
        .reply-list li:before {
            content: '';
            width: 60px;
            height: 2px;
            background: #c7cacb;
            position: absolute;
            top: 25px;
            left: -55px;
        }


        .comments-list li {
            margin-bottom: 15px;
            display: block;
            position: relative;
        }

        .comments-list li:after {
            content: '';
            display: block;
            clear: both;
            height: 0;
            width: 0;
        }

        .reply-list {
            padding-left: 88px;
            clear: both;
            margin-top: 15px;
        }
        /**
         * Avatar
         ---------------------------*/
        .comments-list .comment-avatar {
            width: 65px;
            height: 65px;
            position: relative;
            z-index: 99;
            float: left;
            border: 3px solid #FFF;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
            box-shadow: 0 1px 2px rgba(0,0,0,0.2);
            overflow: hidden;
        }

        .comments-list .comment-avatar img {
            width: 100%;
            height: 100%;
        }

        .reply-list .comment-avatar {
            width: 50px;
            height: 50px;
        }

        .comment-main-level:after {
            content: '';
            width: 0;
            height: 0;
            display: block;
            clear: both;
        }
        /**
         * Caja del Comentario
         ---------------------------*/
        .comments-list .comment-box {
            width: 680px;
            float: right;
            position: relative;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
            -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
            box-shadow: 0 1px 1px rgba(0,0,0,0.15);
        }

        .comments-list .comment-box:before, .comments-list .comment-box:after {
            content: '';
            height: 0;
            width: 0;
            position: absolute;
            display: block;
            border-width: 10px 12px 10px 0;
            border-style: solid;
            border-color: transparent #FCFCFC;
            top: 8px;
            left: -11px;
        }

        .comments-list .comment-box:before {
            border-width: 11px 13px 11px 0;
            border-color: transparent rgba(0,0,0,0.05);
            left: -12px;
        }

        .reply-list .comment-box {
            width: 610px;
        }
        .comment-box .comment-head {
            background: #FCFCFC;
            padding: 10px 12px;
            border-bottom: 1px solid #E5E5E5;
            overflow: hidden;
            -webkit-border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
        }

        .comment-box .comment-head i {
            float: right;
            margin-left: 14px;
            position: relative;
            top: 2px;
            color: #A6A6A6;
            cursor: pointer;
            -webkit-transition: color 0.3s ease;
            -o-transition: color 0.3s ease;
            transition: color 0.3s ease;
        }

        .comment-box .comment-head i:hover {
            color: #03658c;
        }

        .comment-box .comment-name {
            color: #283035;
            font-size: 14px;
            font-weight: 700;
            float: left;
            margin-right: 10px;
        }

        .comment-box .comment-name a {
            color: #283035;
        }

        .comment-box .comment-head span {
            float: left;
            color: #999;
            font-size: 13px;
            position: relative;
            top: 1px;
        }

        .comment-box .comment-content {
            background: #FFF;
            padding: 12px;
            font-size: 15px;
            color: #595959;
            -webkit-border-radius: 0 0 4px 4px;
            -moz-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;
        }

        .comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
        .comment-box .comment-name.by-author:after {
            content: 'autor';
            background: #03658c;
            color: #FFF;
            font-size: 12px;
            padding: 3px 5px;
            font-weight: 700;
            margin-left: 10px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

        /** =====================
         * Responsive
         ========================*/
        @media only screen and (max-width: 766px) {
            .comments-container {
                width: 480px;
            }

            .comments-list .comment-box {
                width: 390px;
            }

            .reply-list .comment-box {
                width: 320px;
            }
        }</style>
</head>
<body>
<div >




    <ul id="gn-menu" class="gn-menu-main" style="z-index:1;">
        <li class="gn-trigger">
            <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
            <nav class="gn-menu-wrapper">
                <div class="gn-scroller">
                    <ul class="gn-menu">
                        <li><a href="/user/profile" class="gn-icon ion-ios-person">Profile</a></li>
                        <li><a href="/user/edit_profile" class="gn-icon ion-ios-person">Edit Profile</a></li>
                        <li><a href="/user/my_articles" class="gn-icon gn-icon-article">My Articles</a></li>

                        <li><a href="/user/new_article" class="gn-icon ion-md-add-circle-outline">Create Article</a></li>
                        <!--  <li><a class="gn-icon  ion-ios-settings">Settings</a></li> -->

                        <li><a href="/user/logout" class="gn-icon ion-md-log-out">Logout</a></li>
                        <!-- <li><a class="gn-icon ion-md-log-out">Logout</a></li>
                         <li><a class="gn-icon ion-md-log-out">Logout</a></li>

                         <li><a class="gn-icon gn-icon-archive">Archives</a></li> -->



                        </li>
                    </ul>
                </div><!-- /gn-scroller -->
            </nav>
        </li>

        <li class="absolute-right" style="background-color: lightcyan ;">
            <div style="height: fit-content" >
                <form action="/user/search" method="post" class="d-block d-lg-flex">
                    <div class="fields d-block d-lg-flex">
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <div class="textfield-search  one-third"><input style="
                                                                            line-height: 44px;" type="text" name="keywords" class="form-control" placeholder="Keyword search..."></div>
                        &nbsp;&nbsp;&nbsp;

                        <div class="textfield-search one-third"><input  style="
                                                                            line-height: 44px;" type="text" class="form-control" name="author" placeholder="Author search..."></div>

                    </div>
                    &nbsp;
                    <input type="submit" class="search-submit btn btn-primary" style="
                                                                            height: 58px;"value="Search">
                </form>

                <div id="result" class="u" style="">

                </div>
            </div>
        </li>

    </ul>
</div>




<div class="abc" style="margin-top: 60px">





    <!-- END section -->
    <div class="site-section bg-light">
        <div class="container">

            <div class="row justify-content-center mb-5 element-animate" >
                <h2>Article Details</h2>
            </div>
            <div class="row element-animate">

                <!--- -->
                <div class="row element-animate" style="height: 100%;width:100%" >

                    <div class="col-lg-6">

                        <iframe src="https://www.math.ksu.edu/~dbski/writings/further.pdf#zoom=50" style="height:100%;width:100%;">
                            <p>Your browser does not support iframes.</p>
                        </iframe>
                    </div>

                    <div class="col-lg-1"></div>
                    <div calss="col-lg-5" >
                        <!-- #a6ebf0-->
                        <div  style="background-color: #a6ebf0 ">

                            <div class="card">

                                <div class="card-header"><h4><b>Title</b> : <%= article.title%></h4></div>


                                <div class="card-body"><h4><b>Description</b> : <%= article.description%></h4></div>
                                <div class="card-header"><h4><b>Author</b> : <a href="/user/search/author/<%= article.author._id %>"> <%= article.author.firstname%> &nbsp; <%= article.author.lastname%></a></h4></div>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <ul class="list-group">
                                    <!-- <li class="list-group-item text-muted">Autor :Virat Kohli</li> -->

                                    <li class="list-group-item text-right"><span class="pull-left">Created At </span></li>


                                </ul>
                            </div>


                        </div>
                        <!------>

                        <div class="block-15">
                            <div class="heading">

                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">

                                <div class="block-18 d-flex align-items-center">
                                    <div class="icon mr-4">
                                        <!-- <span class="flaticon-like"></span> -->
                                    </div>
                                    <div class="text">
                                        <strong class="number" data-number="0"><%= likes %></strong>
                                        <span>Likes</span>
                                    </div>
                                </div>




                            </div>
                            <div class="col-md-6">
                                <div class="block-18 d-flex align-items-center">
                                    <div class="icon mr-4">

                                    </div>
                                    <div class="text">
                                        <strong class="number" data-number="1"><%= comments.length%></strong>
                                        <span>Comments</span>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <!------>
                        <br>
                        <button  id="a" class="search-submit btn btn-primary  " ><i class="glyphicon glyphicon-like"></i>Like</button>
                        <div id="result" style="color:red">
                        <div>
                       <!-- <form action="/user/search/articles/<%= article._id %>/follow" method="POST">
                        <button  class="search-submit btn btn-primary  " ><i class="glyphicon glyphicon-like"></i><a>Follow</a></button>
                        </form>-->
                    </div>

                    
                </div>



            </div>

            <!-- -->







        </div>
    </div>
</div>


<script >
    $(document).ready(function() {
        $("#reply").click(function () {
            alert("hi");
            var newTextBoxDiv = $(document.createElement('div'))
            newTextBoxDiv.after().html('<div> hi </div>');
            newTextBoxDiv.appendTo("#r");
        });
        $("#removeButton").click(function () {
            if (counter == 1) {
                alert("No more textbox to remove");
                return false;
            }
            counter--;
            $("#TextBoxDiv" + counter).remove();
        });
    });
</script>

<div class="site-section bg-primary">

    <div class="container">
        <div class="comment-block">
            <form action="/user/search/articles/<%= article._id%>/comment" method="post">
                <textarea name="comment" id="" cols="30" rows="3" placeholder="Add comment..."></textarea>
                <button type="submit" class="btn-primary btn">submit</button>
            </form>
        </div>

        <div class="row element-animate">



            <div class="comments-container">
                <h1>Comments </h1>

                <ul id="comments-list" class="comments-list">
                    <% for(var i=0; i< comments.length;i++) { %>
                    <li>
                        <div class="comment-main-level">
                            <!-- Avatar -->
                            <div class="comment-avatar"><img src="/uploadnew/<%= comments[i].student.Index %>.png" alt=""></div>
                            <!-- Contenedor del Comentario -->
                            <div class="comment-box">
                                <div class="comment-head">
                                    <h6 class="comment-name by-author"><%= comments[i].student.firstname%> &nbsp;<%= comments[i].student.lastname%></h6>
                                    <span><%= comments[i].date%></span>

                                </div>
                                <div class="comment-content">
                                 <p style="white-space: normal;">  <%= comments[i].comment%></p>
                                </div>
                            </div>
                        </div>
                        <!-- Respuestas de los comentarios -->

                        <ul class="comments-list reply-list">
                            <% for(var j=0; j< reply.length;j++) { %>

                                <% if( comments[i]._id.equals(reply[j].comment) ){%>
                            <li>
                                <!-- Avatar -->

                                <div class="comment-avatar"><img src="/uploadnew/<%= reply[j].student.Index %>.png" alt=""></div>
                                <!-- Contenedor del Comentario -->
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <h6 class="comment-name"><%= reply[j].student.firstname%><%= reply[j].student.lastname%></h6>
                                        <span><%= reply[j].date%></span>

                                    </div>
                                    <div class="comment-content">
                                        <%= reply[j].reply%>
                                    </div>
                                </div>
                            </li>
                                    <% }%>
                                    <% }%>


                        </ul>
                        <div class="comments-list reply-list">
                        <div class="comment-box">
                            <div class="comment-head">

                            </div>
                            <div class="comment-content">
                                <form action="/user/search/articles/<%= article._id%>/<%= comments[i]._id %>/reply " method="post">
                                    <textarea name="comment" id="" cols="60" rows="1" placeholder="Add reply..."></textarea>
                                    <button type="submit" class="btn-primary btn">reply</button>
                                </form>

                            </div>
                        </div>
                        </div>
                    </li>


                    <% } %>
                </ul>
            </div>
            <!----------

            <div class=" center element-animate" style="text-align: center" >
                <h2>Comments</h2>
            </div>

            <div class="comments">
                <div class="comment-wrap">
                    <div class="photo">
                        <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg')"></div>
                    </div>
                    <div class="comment-block">
                        <form action="/user/search/articles/<%= article._id%>/comment" method="post">
                            <textarea name="comment" id="" cols="30" rows="3" placeholder="Add comment..."></textarea>
                            <button type="submit" class="btn-primary btn">submit</button>
                        </form>
                    </div>
                </div>
                <div id="r"></div>

                <% for(var i=0; i< comments.length;i++) { %>

                    <div class="comment-wrap">
                        <div class="photo">
                            <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg')"></div>
                        </div>
                        <div class="comment-block">
                            <p class="comment-text" style="word-wrap: break-word;"><%= comments[i].comment %></p>
                            <div class="bottom-comment">
                                <div class="comment-date"><%= comments[i].student.firstname%> &nbsp;<%= comments[i].student.lastname%></div>
                                <ul class="comment-actions">
                                    <li class="complain"><%= comments[i].date %></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                        <% for(var j=0; j< reply.length;j++) { %>

                    <% if( comments[i]._id.equals(reply[j].comment) ){%>

                            <div class="reply-wrap "  style="margin-left: 30%">
                                <div class="photo">
                                    <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg')"></div>
                                </div>
                                <div class="comment-block">
                                    <p class="comment-text"><%= reply[j].reply %></p>
                                    <div class="bottom-comment">

                                        <ul class="comment-actions">
                                            <li class="complain"><%= reply[j].date %></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                                <% } %>
                        <% } %>
                      <div style="border:3px solid green">
                          <form action="/user/search/articles/<%= article._id%>/<%= comments[i]._id %>/reply " method="post">
                              <textarea name="comment" id="" cols="30" rows="3" placeholder="Add reply..."></textarea>
                              <button type="submit" class="btn-primary btn">reply</button>
                          </form>

                      </div>
                <% } %>




            </div>

        </div>
    </div>
</div>




    <!-- end section -->
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/jquery-migrate-3.0.0.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.waypoints.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/jquery.animateNumber.min.js"></script>

    <script src="/js/jquery.magnific-popup.min.js"></script>

    <script src="/js/main.js"></script>


</div><!-- /abc -->

<script src="/js/classie.js"></script>
<script src="/js/gnmenu.js"></script>
<script>
    new gnMenu( document.getElementById( 'gn-menu' ) );
</script>
<script>
$(document).ready(function () {
    $('#a').click(function () {
             {
                $.ajax({
                    url: "/user/search/articles/<%= article._id %>/like",
                    method: "POST",
                    data: { query: 1 },
                    success: function (data) {
                        
                        $('#result').html(data).show().delay(3000).fadeOut();
                        
                    }
                });
            }
        });
});
</script>
</body>
</html>