<!doctype html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">

    <link rel="stylesheet" href="/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="/css/style.css">

    <style>

        input, textarea {
            outline: none;
            border: none;
            display: block;
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
            font-size: 1rem;
            color: #555f77;
        }
        input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
            color: #ced2db;
        }
        input::-moz-placeholder, textarea::-moz-placeholder {
            color: #ced2db;
        }
        input:-moz-placeholder, textarea:-moz-placeholder {
            color: #ced2db;
        }
        input:-ms-input-placeholder, textarea:-ms-input-placeholder {
            color: #ced2db;
        }

        p {
            line-height: 1.3125rem;
        }

        .comments {
            margin: 2.5rem auto 0;
            max-width: 60.75rem;
            padding: 0 1.25rem;
        }

        .comment-wrap {
            margin-bottom: 1.25rem;
            display: table;
            width: 100%;
            min-height: 5.3125rem;
        }

        .photo {
            padding-top: 0.625rem;
            display: table-cell;
            width: 3.5rem;
        }
        .photo .avatar {
            height: 2.25rem;
            width: 2.25rem;
            border-radius: 50%;
            background-size: contain;
        }

        .comment-block {
            padding: 1rem;
            background-color: #fff;
            display: table-cell;
            vertical-align: top;
            border-radius: 0.1875rem;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
        }
        .comment-block textarea {
            width: 100%;
            resize: none;
        }

        .comment-text {
            margin-bottom: 1.25rem;
        }

        .bottom-comment {
            color: #acb4c2;
            font-size: 0.875rem;
        }

        .comment-date {
            float: left;
        }

        .comment-actions {
            float: right;
        }
        .comment-actions li {
            display: inline;
            margin: -2px;
            cursor: pointer;
        }
        .comment-actions li.complain {
            padding-right: 0.75rem;
            border-right: 1px solid #e1e5eb;
        }
        .comment-actions li.reply {
            padding-left: 0.75rem;
            padding-right: 0.125rem;
        }
        .comment-actions li:hover {
            color: #0095ff;
        }
    </style>
</head>
<body>

<header role="banner">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand absolute" href="index.html">N I T K</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <!--   <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" href="courses.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Courses</a>
                         <div class="dropdown-menu" aria-labelledby="dropdown04">
                           <a class="dropdown-item" href="courses.html">HTML</a>
                           <a class="dropdown-item" href="courses.html">WordPress</a>
                           <a class="dropdown-item" href="courses.html">Laravel</a>
                           <a class="dropdown-item" href="courses.html">JavaScript</a>
                           <a class="dropdown-item" href="courses.html">Python</a>
                         </div>

                       </li>

                       <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                         <div class="dropdown-menu" aria-labelledby="dropdown05">
                           <a class="dropdown-item" href="#">HTML</a>
                           <a class="dropdown-item" href="#">WordPress</a>
                           <a class="dropdown-item" href="#">Laravel</a>
                           <a class="dropdown-item" href="#">JavaScript</a>
                           <a class="dropdown-item" href="#">Python</a>
                         </div>

                       </li>

                       <li class="nav-item">
                         <a class="nav-link" href="blog.html">Blog</a>
                       </li>

                     -->
                    <li class="nav-item">
                        <a class="nav-link" href="/#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#contact">Contact</a>
                    </li>
                </ul>
                <ul class="navbar-nav absolute-right">
                    <li>
                        <a href="login">Login</a> / <a href="register">Register</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>



<div class="site-section bg-light">
    <div class="container">

        <div class="row justify-content-center mb-5 element-animate" >
            <h2>Article Details</h2>
        </div>
        <div class="row element-animate">

            <!--- -->
            <div class="row element-animate" style="height: 100%;width:100%" >

                <div class="col-lg-6">

                    <iframe src="https://www.math.ksu.edu/~dbski/writings/further.pdf#zoom=50" style="height:100%;width:100%;">
                        <p>Your browser does not support iframes.</p>
                    </iframe>
                </div>

                <div class="col-lg-1"></div>
                <div calss="col-lg-5" >
                    <!-- #a6ebf0-->
                    <div  style="background-color: #a6ebf0 ">

                        <div class="card">

                            <div class="card-header"><h4><b>Title</b> : <%= article.title%></h4></div>


                            <div class="card-body"><h4><b>Description</b> : <%= article.description%></h4></div>
                            <div class="card-header"><h4><b>Author</b> : <%= article.author.firstname%> &nbsp; <%= article.author.lastname%></h4></div>
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <ul class="list-group">
                                <!-- <li class="list-group-item text-muted">Autor :Virat Kohli</li> -->

                                <li class="list-group-item text-right"><span class="pull-left">Created At </span></li>


                            </ul>
                        </div>


                    </div>
                    <!------>

                    <div class="block-15">
                        <div class="heading">

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="block-18 d-flex align-items-center">
                                <div class="icon mr-4">
                                    <!-- <span class="flaticon-like"></span> -->
                                </div>
                                <div class="text">
                                    <strong class="number" data-number="0">9</strong>
                                    <span>Likes</span>
                                </div>
                            </div>




                        </div>
                        <div class="col-md-6">
                            <div class="block-18 d-flex align-items-center">
                                <div class="icon mr-4">

                                </div>
                                <div class="text">
                                    <strong class="number" data-number="1"><%= comments.length%></strong>
                                    <span>Comments</span>
                                </div>
                            </div>



                        </div>
                    </div>
                    <!------>
                    <br>
                    <button  class="search-submit btn btn-primary  " ><i class="glyphicon glyphicon-like"></i>Like</button>
                </div>





            </div>



            </div>

            <!-- -->







        </div>
    </div>
</div>

<div class="site-section bg-primary">

    <div class="container">
    <div class="row element-animate">

        <div class=" center element-animate" style="text-align: center" >
            <h2>Comments</h2>
        </div>

        <div class="comments">

            <div class="comm" style="height:400px ;overflow-y: scroll;margin : 15px;">
            <% for(var i=0; i< comments.length;i++) { %>

                <div class="comment-wrap">
                    <div class="photo">
                        <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg')"></div>
                    </div>
                    <div class="comment-block">
                        <p class="comment-text"><%= comments[i].comment %></p>
                        <div class="bottom-comment">
                            <div class="comment-date"><%= comments[i].student.firstname%> &nbsp;<%= comments[i].student.lastname%></div>
                            <ul class="comment-actions">
                                <li class="complain"><%= comments[i].date %></li>

                            </ul>
                        </div>
                    </div>
                </div>

            <% } %>

            </div>


        </div>

    </div>
</div>
</div>

<footer class="site-footer " id="contact">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-10 col-lg-5 mb-5 mb-lg-0">
                <h3>NITK</h3>
                <p>National Institute of Technology Karnataka, formerly known as Karnataka Regional Engineering College, also known as NIT Surathkal, is a public engineering university at Surathkal, Mangalore.</p>
            </div>
            <div class="col-md-2 col-lg-3 mb-5 mb-lg-0">
                <h3 class="heading">Quick Link</h3>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-unstyled">
                            <li><a href="/">Home</a></li>
                            <li><a href="#about">About Us</a></li>

                            <li><a href="http://www.nitk.ac.in">NITK</a></li>

                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-md-12 col-lg-4 mb-5 mb-lg-0">
                <h3 class="heading">Contact Information</h3>
                <div class="block-23">
                    <ul>
                        <li><span class="icon ion-android-pin"></span><span class="text">NITK Surathkal,Srinivas Nagar ,Mangaluru ,Karnataka ,India</span></li>
                        <li><a href="#"><span class="icon ion-ios-telephone"></span><span class="text">+91 9901057366</span></a></li>
                        <li><a href="#"><span class="icon ion-android-mail"></span><span class="text">teamita@gmail.com</span></a></li>
                        <li><span class="icon ion-android-time"></span><span class="text">Monday &mdash; Friday 8:00am - 5:00pm</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-md-12 text-center copyright">

                <p class="float-md-left">Designed by Shreyas,Tejas,Tushar - Team ITA</p>
                <p class="float-md-right">
                    <a href="#" class="fa fa-facebook p-2"></a>
                    <a href="#" class="fa fa-twitter p-2"></a>
                    <a href="#" class="fa fa-linkedin p-2"></a>
                    <a href="#" class="fa fa-instagram p-2"></a>

                </p>
            </div>
        </div>
    </div>
</footer>
<!-- END footer -->

<!-- loader -->
<div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/jquery-migrate-3.0.0.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/jquery.animateNumber.min.js"></script>

<script src="/js/main.js"></script>
</body>
</html>